/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100&family=Oswald:wght@500&family=Poppins:wght@100;200;300&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #141313;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: orange;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #141313;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

main {
    background-color: blue;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 50px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

footer {
    background-color: red;
    padding: 20px 0;
}