/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100&family=Oswald:wght@500&family=Poppins:wght@100;200;300&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #252525;
    font-family: poppins, lato;
}

/* Header */
header {
    background-color: #fafafa;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #252525;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    margin: 20px 0 20px 0;
    text-align: center;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #252525;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #252525;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.nav-toggle-label>i {
    color: #252525;
    font-size: 80%;
}

#logo {
    font-family: lato;
    font-size: 180%;
}

#hero {
    background: url("../images/stonehenge-salisbury-plain-england-wiltshire.webp") no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: relative;
}

#cover-text {
    background-color: rgba(139, 230, 230, .4);
    color: #fafafa;
    position: absolute;
    bottom: 30px;
    padding: 15px;
    margin-left: 5px;
}

/* Event hero image */
#heroevent {
    background: url("../images/stonehenge-event.jpg") no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

#event-text {
    background-color: rgba(139, 230, 230, .4);
    color: #fafafa;
    position: absolute;
    bottom: 30px;
    padding: 15px;
    margin-left: 5px;
}

/* Main content */
main {
    background-color: #fafafa;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

#significance h2 {
    font-size: 200%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#significance {
    margin: 0 30px 0 30px;
}

#significance p {
    margin: 5px 10px 20px 10px;
}


/* overhead pic */
.overhead {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#overheadpicture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sunsetpicture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#northpicture {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Event page */
#solstice h2 {
    font-size: 200%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


#solstice,
p {
    margin: 5px 10px 20px 10px;
}

#sherlockpic {
    background: url("../images/sherlock-event.jpg") no-repeat center center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 30px;
}

#sherlockpicture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#neolithicpic {
    background: url("../images/neolithic.webp") no-repeat center center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 30px;
}

#neolithicpicture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#upclosepic {
    background: url("../images/upclose.webp") no-repeat center center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 30px;
}

#upclosepicture {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gallery page */
#gallery img {
    width: 100%;
    line-height: 1em;
    height: 200px;
}

#photos {
    line-height: 0;
}

/* Footer */

footer {
    background-color: #fafafa;
    padding: 20px;
}

#social-networks {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 130%;
}

/* Signup form */
#signup {
    background: url("../images/stonehengesign.jpg") no-repeat top center/cover;
    background-position: 40% 40%;
    padding: 140px 10px 140px 10px;
}

#signupform {
    color: #fafafa;
    background-color: rgba(139, 230, 230, .7);
    padding: 30px;
    max-width: 240px;
}

#radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.signupheader {
    color: #fafafa;
}




/* Media query: large phones or landscape (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}




/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        font-size: 95%;
    }

    #menu {
        display: flex;
        font-size: 100%;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 80px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Event page images */
    #sherlockpic {
        height: 500px;
        width: 600px;
    }

    #neolithicpic {
        height: 500px;
        width: 600px;
    }

    #upclosepic {
        height: 500px;
        width: 600px;
    }

    h3 {
        padding-bottom: 10px;
    }

    #photos {
        column-count: 3;
        column-gap: 0;
    }

    #signup {
        width: 100%;
        padding-bottom: 750px;
    }

    #signupform {
        position: absolute;
        left: 10%;
        top: 250px;
    }
}




/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #252525;
    }

    #menu>li {
        padding-left: 2rem;
    }

    #significance {
        margin: 40px 70px 0 70px;
    }

    #overheadpicture {
        padding-left: 70px;
    }

    #overheadpic {
        width: 450px;
        height: 400px;
    }

    #importance {
        display: flex;
        margin-bottom: 40px;
    }


    #sunsetpicture {
        padding-right: 70px;
        padding-left: 20px;
        order: -1;
    }

    #sunsetpic {
        width: 400px;
        height: 400px;
    }

    #history {
        display: flex;
        margin-bottom: 40px;
    }


    #title {
        margin-left: 490px;
        padding-top: 10px;
    }


    #background {
        margin-bottom: 40px;
        background-color: beige;
    }

    #northpicture {
        padding-left: 70px;
    }

    #archaeology {
        display: flex;
        margin-bottom: 40px;
    }

    #northpic {
        width: 450px;
        height: 400px;
    }
    
    /* Event page */
    #solstice {
        display: flex;
    }

    #solstice-mystery {
        width: 33%;
    }

    #two {
        width: 33%;
    }

    #three {
        width: 33%;
    }

    h1 {
        font-size: 200%;
    }

    h3 {
        font-size: 140%;
    }

    .eventh4 {
        font-size: 200%;
    }

    #heroevent {
        margin-bottom: 30px;
    }

    #photos {
        column-count: 4;
        column-gap: 0;
    }

    #gallery img {
        height: 400px;
    }

    #signup {
        background-position: 0 2px;
    }

}

/* Media query: laptops and desktops (1440px and up) */
@media screen and (min-width: 1440px){

#significance {
    margin-left: 10%;
    margin-right: 10%;
}
}